<a href="https://colab.research.google.com/github/juneilsam/underwater_bigdata/blob/main/2021_files_upload_water.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# -*- coding: utf-8 -*-
import numpy as np # 넘파이
import pandas as pd
import time
import datetime as dt
from dateutil.parser import parse

from math import sqrt # math
from tqdm import tqdm

from matplotlib import pyplot # 플롯을 그리기 위함

import cx_Oracle as cx
import os
import csv

In [ ]:
# 전체 삭제시 사용
# LOCATION = r"C:\Users\...\instantclient_21_3"
# os.environ["PATH"] = LOCATION + ";" + os.environ["PATH"] #환경변수 등록

# conn = cx.connect("", "", cx.makedsn("", "", ""))
# curs = conn.cursor()
# curs.execute("DELETE FROM GD602")
# conn.commit()
# curs.close()
# conn.close()

In [ ]:
def DFToDB(df):
    try:
        LOCATION = r"C:\Users\...\instantclient_21_3"
        os.environ["PATH"] = LOCATION + ";" + os.environ["PATH"] #환경변수 등록

        conn = cx.connect("", "", cx.makedsn("", "", ""))
        curs = conn.cursor()
        
        rows = [tuple(i) for i in df.to_records(index=False)]
        up_rows = []
        # 타입변환
        for j in df.index:
            r_1 = int(rows[j][0])
            r_2 = int(rows[j][1])
            r_3 = str(rows[j][2])
            r_4 = parse(rows[j][3])
            r_5 = int(rows[j][4])
            up_rows.append(tuple([r_1, r_2, r_3, r_4, r_5]))

        curs.executemany("INSERT INTO GD602 \
                         (OBSR_DTA_ID, RESULT_ID, OBSR_DTA_VALUE, \
                         OBSR_DT, QLITY_ID) \
                         VALUES (:1, :2, :3, :4, :5)", up_rows)
        conn.commit()
        curs.close()
        conn.close()
        print("DB Inserted")
        
    except Exception as e:
        print("데이터를 DB에 업로드하는 데 문제가 있습니다.\n", e)

In [ ]:
ddi = 'C:/Users/'
dir_list = os.listdir(ddi)

In [ ]:
dir_list

['02_양구방산_암반_통합완료.csv',
 '04_화천화천_암반_통합완료.csv',
 '06_양평양동_충적_통합완료.csv',
 '07_평택안중_암반_통합완료.csv',
 '08_포천대회산_암반_통합자료.csv',
 '10_밀양가곡_암반_통합자료.csv',
 '11_산청산청_암반_통합자료.csv',
 '12_성주벽진_충적_통합자료.csv',
 '14_의성안계_암반_통합자료.csv',
 '22_태안안면_암반_통합자료.csv',
 '24_의령낙서_충적_통합자료.csv',
 '25_의령낙서_암반_통합자료.csv']

In [ ]:
my_tear = {'02' : 14789, '04' : 14995, '06' : 16218, '07' : 14717, '08' : 14700, '10' : 14687, 
           '11' : 14730, '12' : 16189, '14' : 14764, '22' : 14749, '24' : 16197, '25' : 14758}

In [ ]:
for file in dir_list:
    n = file[:2]
    water_spot = pd.read_csv(f"{ddi}{file}", encoding='utf-8')
    water_spot['OBSR_DTA_ID'] = int(n)
    water_spot['RESULT_ID'] = my_tear[n]
    water_spot['QLITY_ID'] = 2
    water_spot = water_spot[['OBSR_DTA_ID', 'RESULT_ID', '수위', '일시', 'QLITY_ID']]
    DFToDB(water_spot)

02_양구방산_암반_통합완료.csv 4352
04_화천화천_암반_통합완료.csv 1889
06_양평양동_충적_통합완료.csv 4352
07_평택안중_암반_통합완료.csv 3717
08_포천대회산_암반_통합자료.csv 3352
10_밀양가곡_암반_통합자료.csv 4352
11_산청산청_암반_통합자료.csv 4352
12_성주벽진_충적_통합자료.csv 4217
14_의성안계_암반_통합자료.csv 4352
22_태안안면_암반_통합자료.csv 3987
24_의령낙서_충적_통합자료.csv 4748
25_의령낙서_암반_통합자료.csv 4748